.page{
  margin: 30px auto;
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  z-index: 999;

  .actionDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    z-index: 999;

    .searchDiv{
      width: 100%;
      max-width: 1200px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      input{
        height: 35px;
        border: 1px solid #FFE81F;
        border-radius: 8px 0 0 8px;
        padding: 0 10px;
        font-size: 16px;
        border-right: none;
        background-color: #000;
  
        &:focus{
          outline: none;
        }

        &::placeholder{
          opacity: 0.5;
        }
      }
  
      button{
        height: 35px;
        width: 45px;
        border: 1px solid #FFE81F;
        border-radius: 0 8px 8px 0;
        background-color: #000;
        cursor: pointer;
        border-left: none;
  
        .searchIcon{
          fill: #FFE81F;
          height: 35px;
        }
  
        &:hover{
          background-color: #FFE81F;
  
          .searchIcon{
            fill: #000;
          }
        }
      }
    }

    .favButton{
      width: 150px;
      height: 35px;
      border: 1px solid #FFE81F;
      border-radius: 8px;
      background-color: #000;
      color: #FFE81F;
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;
    
      &:hover {
        background-color: #FFE81F;
        color: #000;
      }
    }
  }


  .list{
    border: 1px solid #FFE81F;
    border-radius: 8px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFE81F;
    z-index: 999;

    .itemListTitle{
      display: grid;
      align-items: center;
      grid-template-columns: 30% 14% 14% 14% 14% 14%;
      height: 35px;
      width: 100%;
      padding: 0 20px;
      font-weight: 700;
      font-size: 18px;
      color: #000;
    }

    .itemList{
      display: grid;
      align-items: center;
      grid-template-columns: 30% 14% 14% 14% 14% 14%;
      height: 35px;
      width: 100%;
      border-bottom: 1px solid #FFE81F;
      padding: 0 20px;
      background-color: #000 !important;

      .favIcon{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .fav{
          cursor: pointer;
          fill: #000;
          stroke: #FFE81F;
          stroke-width: 1;

          &:hover{
            fill: #FFE81F;
          }
        }
        
        .favActive{
          cursor: pointer;
          fill: #FFE81F;
          stroke: #FFE81F;
          stroke-width: 1;
        }
      }

    }

    span{
      margin: 10px 0;
      color: #000;
      font-weight: 700;
      font-size: 18px;
    }
  }

  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 999;

    button{
      width: 150px;
      height: 40px;
      border: 1px solid #FFE81F;
      border-radius: 8px;
      background-color: #000;
      color: #FFE81F;
      cursor: pointer;
      font-weight: 700;
      font-size: 18px;

      &:hover{
        background-color: #FFE81F;
        color: #000;
      }
    }
  }
}